.{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container {
    margin-top: 50px; 
    background-color: #c3dee7;
    padding:2%;
    border-radius: 25px;
    width: 60%;
}

.help-block {
    color: red;
}

.text-dark {
    color: black;
    cursor: pointer;
    text-decoration: none;
}

input.ng-invalid.ng-touched{
    border: 1px solid red;
}