<app-header></app-header>
<div class="container">
    <form (ngSubmit) ="onSubmit()" #f="ngForm">
        <div class="alert alert-success" *ngIf=memberUpdatedMessage>{{memberUpdatedMessage}}</div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="firstName">First Name</label>
                <input class="form-control" id="firstName" name="firstName" type="text"
                required [(ngModel)] = "member.firstName"
                pattern="[A-Za-z ]+" ngModel #firstNameField="ngModel">
                <span class="help-block" *ngIf="!firstNameField.valid && 
                firstNameField.touched && !firstNameField.dirty">Field cannot be Empty</span>
                <span class="help-block" *ngIf="!firstNameField.valid && 
                firstNameField.dirty">Field should only contain alphabets</span>
            </div>
            <div class="form-group">
                <label for="relationship">Relationship</label>
                <select class="form-control" id="relationship" name="relationship" required [(ngModel)] = "member.relationship">
                    <option value="spouse">Spouse</option>
                    <option value="dependents">Dependents</option>
                    <option value="others">Others</option>
                </select>
            </div>
            <div class="form-group">
                <label for="gender">Gender</label><br>
                <div class="radio-inline" *ngFor="let gender of genders">
                    <input type="radio" id="gender" name="gender" ngModel required [(ngModel)] = "member.gender"
                    [value]="gender"> {{gender}}
                </div>
            </div>
            <br>
            <br><br>
            <div class="form-group">
                <label for="country">Country</label><br>
                <select class="form-control" id="country" name="country" required (change)=onChangeCountry($event.target.value) 
                [(ngModel)] = "member.country">
                    
                    <option *ngFor="let country of countries" [value]=country.countryCode>{{country.countryDescription}}</option>
                </select>
            </div>
            <div class="form-group">
                <label for="city">City</label><br>
                <select class="form-control" id="city" name="city" required [(ngModel)] = "member.city">
                    <option *ngFor="let city of cities" [value]=city.city>{{city.city}}</option>
                </select>
            </div>
            <div class="form-group">
                <label for="phoneNumber">Phone Number</label>
                <input class="form-control" id="phoneNumber" name="phoneNumber" type="text" [(ngModel)] = "member.phoneNumber"
                required maxlength="10" ngModel #phoneNumberField="ngModel">
                <span class="help-block" *ngIf="!phoneNumberField.valid && 
                phoneNumberField.touched && !phoneNumberField.dirty">Field cannot be Empty</span>
                <span class="help-block" *ngIf="!phoneNumberField.valid && 
                phoneNumberField.dirty">Phone Number should be 10 digits</span>
            </div>

            <div class="form-group">
                <label for="coverage">Coverage</label>
                <select class="form-control" id="coverage" name="coverage" required [(ngModel)] = "member.coverage">
                    <option value="individual">Individual</option>
                    <option value="group">Group</option>
                </select>
            </div>
            
            
            <div class="form-group">
                <label for="benefit">Benefit</label>
                <select class="form-control" id="benefit" name="benefit" required [(ngModel)] = "member.benefit">
                    <option value="medical">Medical</option>
                    <option value="wellness">Wellness</option>
                    <option value="vision">Vision</option>
                    <option value="dental">Dental</option>
                </select>
            </div>
            <div class="form-group">
                <label for="termDate">Term Date</label>
                <input class="form-control" id="termDate" name="termDate" type="date"
                required ngModel #termDateField="ngModel" [(ngModel)] = "member.terminationDate"
                min="{{date | date:'yyyy-MM-dd'}}">
                <span class="help-block" *ngIf="!termDateField.valid && 
                termDateField.touched">Field cannot be Empty</span>
            </div>
            <div>
                <button class="btn btn-primary" type="submit" [disabled]= "!f.valid ">Update Member</button> &nbsp;
                <button class="btn btn-info" [routerLink]="['/dashboard',userId]">Back Home</button>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="lastName">Last Name</label>
                <input class="form-control" id="lastName" name="lastName" type="text"
                required pattern="[A-Za-z ]+" ngModel #lastNameField="ngModel" [(ngModel)] = "member.lastName">
                <span class="help-block" *ngIf="!lastNameField.valid && 
                lastNameField.touched && !lastNameField.dirty">Field cannot be Empty</span>
                <span class="help-block" *ngIf="!lastNameField.valid && 
                lastNameField.dirty">Field should only contain alphabets</span>
            </div>
            <div class="form-group">
                <label for="dob">Date of Birth</label>
                <input class="form-control" id="dob" name="dob" type="date"
                required ngModel #dobField="ngModel" [(ngModel)] = "member.dob" max="{{date | date:'yyyy-MM-dd'}}">
                <span class="help-block" *ngIf="!dobField.valid && 
                dobField.touched">Field cannot be Empty</span>
            </div>
            <div class="form-group">
                <label for="address">Address</label>
                <textarea class="form-control" id="address" name="address" rows="3"
                required ngModel #addressField="ngModel" [(ngModel)] = "member.address"></textarea>
                <span class="help-block" *ngIf="!addressField.valid && 
                addressField.touched">Field cannot be Empty</span>
            </div>
            <div class="form-group">
                <label for="state">State</label><br>
                <select class="form-control" id="state" name="state" (change)= onChangeState($event.target.value) required [(ngModel)] = "member.state">
                    <option *ngFor="let state of states" [value]=state.stateCode>{{state.stateDescription}}</option>
                </select>
            </div>
            <div class="form-group">
                <label for="zipcode">Zip Code</label>
                <input class="form-control" id="zipcode" name="zipcode" type="text"
                required ngModel #zipcodeField="ngModel" [(ngModel)] = "member.zipcode">
                <span class="help-block" *ngIf="!zipcodeField.valid && 
                zipcodeField.touched">Field cannot be Empty</span>
            </div>
            <div class="form-group">
                <label for="emailAddress">Email</label>
                <input class="form-control" id="emailAddress" name="emailAddress"
                required email ngModel [(ngModel)] = "member.emailId"          
                #emailField ="ngModel">
                <span class="help-block" *ngIf="!emailField.valid && emailField.touched
                && !emailField.dirty">
                    Field cannot be empty
                </span>
                <span class="help-block" *ngIf="!emailField.valid && emailField.dirty">
                   Not an valid Email Format 
                </span>
            </div>
            <div class="form-group">
                <label for="ssn">SSN Number</label>
                <input class="form-control" id="ssn" name="ssn" type="text"
                required ngModel #ssnField="ngModel" [(ngModel)] = "member.ssn">
                <span class="help-block" *ngIf="!ssnField.valid && 
                ssnField.touched">Field cannot be Empty</span>
            </div>
            <div class="form-group">
                <label for="effectiveDate">Effective Date</label>
                <input class="form-control" id="effectiveDate" name="effectiveDate" type="date"
                required ngModel #effectiveDateField="ngModel" [(ngModel)] = "member.effectiveDate"
                min="{{date | date:'yyyy-MM-dd'}}">
                <span class="help-block" *ngIf="!effectiveDateField.valid && 
                effectiveDateField.touched">Field cannot be Empty</span>
            </div>
        </div>
    </form>
 </div>
